
<div class="row">
<div class="col l12">
  <h3><%=@titulo %></h3>
</div>
</div>
<div class="row">
  <div class="col s6"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias architecto beatae consectetur culpa deleniti deserunt ea, eius explicabo, fugiat harum illo incidunt ipsa laborum molestiae natus quasi recusandae repellendus.</p></div>
  <div class="col s6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid asperiores deleniti dicta dolorum laborum magnam possimus quae sit. Accusamus aliquam architecto beatae facere maiores qui reiciendis suscipit ullam voluptatibus voluptatum.</div>

</div>
